.gender-limit-settings {
  // padding-bottom: 80px;
  &__add-new-form-action {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }
  &__add-new-form-action-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    color: #707683;
    margin-left: 4.8px;
    text-decoration: underline dashed;
  }
  
  .input-field-group {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;

    &__label {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      letter-spacing: 0.01em;
      color: #323C47;
    }
    
    &__radio-field-group {
      display: flex;
      align-items: center;
      margin-top: 20px;
    }

    &__radio-field {
      display: flex;
      align-items: center;
      margin-right: 40px;
      .checkbox-label {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #323C47;
        padding: 0px;
        margin-left: 10px;
      }
    }
  }
  .Button{
    float: right;
    align-items: center;
    text-align: center;
    width: 71px;
    height: 34px;
    background: #1f55b6;
    border-radius: 5px;
  }
}
.content-right-align{
  display: flex;
  justify-content: flex-end;
}