@import "../../../assets/style.scss";

.__search-tool-configuration {
  .MuiContainer-root {
    padding-top: 20px;
    padding-bottom: 20px;

    .fr-element,
    .fr-view {
      height: 150px;
    }
    /* SCROLL-BAR */
    .fr-view::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background-color: #e2e2e2;
    }
    /* Track */
    .fr-view::-webkit-scrollbar-track {
      box-shadow: inset 0 0 0px #999999;
      //   border-radius: 3px;
    }
    /* Handle */
    .fr-view::-webkit-scrollbar-thumb {
      background: #aaaaaa;
      //   border-radius: 3px;
    }
    /* Handle on hover */
    .fr-view::-webkit-scrollbar-thumb:hover {
      background: #aaaaaa;
    }
    /* SCROLL-BAR */
    .move-right {
      .Button {
        position: relative;
        right: 5px;
        bottom: 39px;
        width: 67px;
        height: 34px;
        margin: 0;
        background: #1f55b6;
        border-radius: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        outline: none;
        letter-spacing: 0.01em;
        color: #ffffff;
      }
      text-align: end;
    }

    .all-label {
      text-transform: uppercase;
      color: #707683;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
    }

    .alternate-drugs {
      background: #ffffff;
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      border-radius: 3px;
      width: 270px;
      height: 35px;
    }
    .root-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-top: 8px !important;
      .container {
        margin-right: 50px;
        text-transform: none !important;
      }
    }
  }
  .MuiTypography-root {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #323c47;
  }
  .MuiAccordionSummary-root {
    background: #f9f9f9;
  }
}
