@import "./../../assets/style.scss";

.csr-root {
  .member-components-container {
    padding: 0px 0px;
    .MuiGrid-container {
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .membercostshare-container {
      margin-top: 20px;
    }
  }
  .member-profile-root {
    min-width: 1200px;
    margin: 20px 60px;

    box-sizing: border-box;
    border: 1px solid $container-border-color;
    border-radius: 10px;

    background-color: $container-background-color;

    .tab-content {
      margin: 0;

      width: 100%;

      padding: 11px 20px 20px 20px;
      &.grievances-tab-content {
        padding: 11px 0 20px 0;
      }
    }
    .formulary-tab-content {
      padding: 23px 20px 20px;
    }
    .communication-member-profile-root {
      margin-top: -11px;
      .communication-root {
        .frx-mini-tabs-root {
          width: max-content !important;
        }
        .frx-mini-tabs-root__tabs {
          min-height: 30px;
          .MuiTab-root {
            min-width: 50px;
            min-height: 24px;
          }
        }
        .communication-root--legend {
          display: none;
        }
        .communication-root--legend__accordion {
          margin-top: 20px;
        }
        .MuiAccordionSummary-root {
          border-bottom: 1px solid #e5e5e5;
          pointer-events: none;
        }
        .MuiIconButton-edgeEnd {
          display: none;
        }
      }
    }
    .auth-overrides-member-profile-root {
      .auth-override-root {
        display: none;
      }
      .MuiAccordionSummary-root {
        border-bottom: 1px solid #e5e5e5;
        // pointer-events: none;
      }
      .MuiIconButton-edgeEnd {
        display: none;
      }
      .MuiAccordionSummary-content {
        margin: 0px;
      }
      .auth-override-root__accordion-summary {
        display: flex;
        &__heading {
          font-size: $font-12;
          font-weight: $font-weight-500;
          text-transform: uppercase;
          color: $primary-heading-text-color;
          margin-right: 20px;
        }
        .auth-override-root__accordion-summary__heading {
          line-height: 50px;
        }
        &__button {
          &-auth,
          &-override {
            .MuiButtonBase-root {
              border: 1px solid $hyperlink-text-color;
              color: $hyperlink-text-color;
              box-sizing: border-box;
              border-radius: 3px;
              font-size: $font-12;
              font-weight: $font-weight-normal;
              width: 123px;
              height: 35px;
              line-height: 35px;
              padding: 0;
              letter-spacing: 0.01em;
              text-transform: capitalize;
            }
            margin-top: 9px;
          }
          &-auth {
            margin-right: 10px;
            .MuiButtonBase-root {
              width: 103px;
            }
          }
        }
      }
    }
    .grievances-member-profile-root {
      background-color: #ffffff;
      min-width: 1160px;
      width: 100%;
      border: 1px solid #e5e5e5;
      border-radius: 5px;

      .grid {
        padding: 0px 20px;
        .grievenance-search-clear {
          position: absolute;
          right: 0px;
          button {
            vertical-align: middle;
            .MuiButton-label {
              margin: 0px;
            }
          }
        }
      }
      .grievances-buttongroup-root {
        display: flex;
        justify-content: flex-start;
        background-color: #ffffff;
        color: #2055b5;
        // Typography
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0.01em;
        text-align: left;
        padding: 0px 22px;
        height: 50px;
        margin-bottom: 20px;
        width: 100%;
        border-bottom: 1px solid #e5e5e5;

        .heading {
          text-transform: uppercase;
          font-weight: 500;
          line-height: 50px;
          letter-spacing: 0em;
        }
        .button {
          margin: auto;
          margin-left: 20px;
          // border: solid 1px;
          border-radius: 3px;
        }

        button {
          text-transform: none;
          color: #2055b5;
          width: 165px;
          height: 35px;
          border-radius: 3px;

          font-family: Roboto;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 35px;
          letter-spacing: 0.01em;
          text-align: left;
          padding: 0px;
          border: solid 1px;
          &:first-child {
            margin-right: 20px;
          }
        }
      }
    }
  }
  .claims-root {
    background-color: #ffffff;
    min-width: 1160px;
    width: 100%;
    border: 1px solid #e5e5e5;
    .grid {
      padding: 0px 20px;
      .clr-testClaims-btn {
        position: absolute;
        right: 10px;
        button {
          vertical-align: middle;
          .MuiButton-label {
            margin: 0px;
          }
        }
      }
    }
    .claimsbuttongroup-root {
      display: flex;
      justify-content: flex-start;
      background-color: #ffffff;
      color: #2055b5;
      // Typography
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 35px;
      letter-spacing: 0.01em;
      text-align: left;
      padding: 0px 22px;
      height: 50px;
      margin-bottom: 20px;
      width: 100%;
      border-bottom: 1px solid #e5e5e5;

      .heading {
        text-transform: uppercase;
        font-weight: 500;
        line-height: 50px;
        letter-spacing: 0em;
      }
      .button {
        margin: auto;
        margin-left: 20px;
        // margin-right: 0;
        // border: solid 1px;
        border-radius: 3px;
      }

      .btn-claims {
        text-transform: none;
        color: #2055b5;
        // width: 165px;
        height: 35px;
        border-radius: 3px;

        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0.01em;
        text-align: left;
        padding: 0px 20px;
        border: solid 1px;
        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }
}

// .dashboard-root {

// }

// .dashboard-root .MuiTab-wrapper {
//     font-family: Roboto;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 50px;

//     text-transform: none;

//     .Mui-selected {
//         color: #2055B5;
//         font-weight: 700;
//     }
// }

// .dashboard-content-container {
//     max-width:1200px;
//     padding: 0px;
//     margin:auto;
//     margin-top: 30px;
//     background: #EEF3F7;

//     .MuiTab-root {
//         min-width: 120px;
//     }
// }

// .dashboard-tabs-root {
//     background: #FFFFFF;
// }
// .dashboard-tab {
//     font-family: Roboto;
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 50px;
//     margin-left: 20px;
// }
// .active {
//     font-weight: 700;
//     color: #2055B5;
//     display: inline;
// }

// .bg-white {
//     background-color: #FFFFFF;
// }

// .member-container {
//     background-color: #FFFFFF;
//     height: 128px;
//     border-radius: 5px;
// }

// .member-components-container {
//     max-width: 100%;
// }

// .attributes-container {
//     margin-top: 20px;
//     height: 50px;
//     border-radius: 5px;
// }

// .cdh-mn-container {
//     margin-top: 20px;
//     margin-right: 10px;
//     height: 216px;
// }

.acc-barr-container {
  height: 100%;
}

// .claim-container {
//     margin-top: 20px;
//     height: 353px;
// }
