@import "../../assets/style.scss";

.claims-search {
  display: flex;

  &__first-row {
    margin-bottom: 10px;
    display: flex;
  }
  .claims-search__input {
    background: $color-white;
    border: 1px solid $input-field-border;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: $font-12;
    font-weight: $font-weight-normal;
    color: $input-text-placeholder;
    text-indent: 10px;
    width: 170px !important;
    height: 35px;
    line-height: 14px;
    outline: none;
    margin: 0 10px 0 0;
    & > input {
      text-indent: 10px;
    }

    .MuiInput-input {
      font-size: $font-12;
      font-weight: $font-weight-normal;
      color: $input-text-placeholder;
    }
  }
  .MuiInput-underline:after,
  .MuiInput-underline:before {
    border-bottom: none;
  }
  .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: none;
  }
  .select-box{
    
  }
  .claims-search__input--dropdown {
    .ant-select-selection-placeholder {
      font-size: $font-12;
      font-weight: $font-weight-normal;
      color: $input-text-placeholder;
      line-height: 33px !important;
    }
    .ant-select-selector {
      border: none !important;
      padding: 0 !important;
      .ant-select-selection-item {
        padding: 0;
        line-height: 35px;
      }
    }
    .ant-select-arrow {
      top: 15px;
    }
  }
  .claims-search__input--date {
    .ant-picker-input {
      & > input {
        border-right: none;
        font-size: $font-12;
        font-weight: $font-weight-normal;
        color: $input-text-placeholder;
      }
      .ant-picker-clear {
        display: none;
      }
    }
  }
  .claims-search__btn {
    margin: 0 0 0 auto;
    // line-height: 80px;
    .claims-search__btn-field {
      border: 1px solid $primary-btn-color;
      box-sizing: border-box;
      border-radius: 3px;
      background-color: $color-white;
      font-size: $font-12;
      font-weight: $font-weight-normal;
      width: 75px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      align-items: center;
      letter-spacing: 0.01em;
      color: $primary-btn-color;
      padding: 0;
      text-transform: capitalize;
    }
  }
  .claims-clear__btn {
    height: 35px;
    border: none;
    padding: 0;
    margin: 0 20px 0 0;
    svg {
      position: relative;
      top: 5px;
    }
    span {
      position: relative;
      top: 0px;
      line-height: 14px;
      text-transform: capitalize;
      font-size: $font-12;
      font-weight: $font-weight-normal;
      color: $primary-text-color;
      margin-left: 7px;
      border-bottom: 1px solid transparent;
      border-image: url("data:image/svg+xml,%3Csvg width='28' height='1' viewBox='0 0 28 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='0.5' x2='28' y2='0.5' stroke='%23666666' stroke-dasharray='1 1'/%3E%3C/svg%3E%0A");
      border-image-repeat: repeat;
      border-image-slice: 4 4 4 4;
    }
  }
}
