.formulary-dashboard-stats-card {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  background: linear-gradient(0deg, #684999, #684999), #FFFFFF;
  &__body {
    width: 200px;
    height: 140px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    padding: 9px 21px 9px 22px;
    .stat-data {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 3px;

      &__label {
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 10px;
        letter-spacing: 0px;
        text-align: left;
        color: #FFFFFF
      }

      &__value {
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0px;
        text-align: left;
        color: #FFFFFF
      }
    }
  }

  &__footer {
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 29px;
  }
}

.formulary-dashboard-stats-card--variant-1 {
  background: linear-gradient(0deg, #684999, #684999), #FFFFFF;
}

.formulary-dashboard-stats-card--variant-2 {
  background: linear-gradient(0deg, rgba(248, 144, 144, 0.75), rgba(248, 144, 144, 0.75)), #FFFFFF;
}

.formulary-dashboard-stats-card--variant-3 {
  background: linear-gradient(0deg, #9498A2, #9498A2), #FFFFFF;
}

.formulary-dashboard-stats-card--variant-4 {
  background: linear-gradient(0deg, #F4AF64, #F4AF64), #FFFFFF;
}