@import "../../../../assets/style.scss";

.claims-history-search{
    .claims-search__first-row{
        display: flex;
        .claim-type{
            width: 208px !important;
        }
    }
    .claims-search__input--date{
        width: 150px !important;
    }
    .claims-clear__btn{
        height: 35px;
        border: none;
        padding: 0;
        margin: 0 20px 0 0;
        svg{
            position: relative;
            top: 5px;
        }
        span{
        position: relative;
        top: 0;
        line-height: 14px;
        text-transform: capitalize;
        font-size: $font-12;
        font-weight: $font-weight-normal;
        color: $primary-text-color;
        margin-left: 7px;
        border-bottom: 1px solid transparent;
        border-image: url("data:image/svg+xml,%3Csvg width='28' height='1' viewBox='0 0 28 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='0.5' x2='28' y2='0.5' stroke='%23666666' stroke-dasharray='1 1'/%3E%3C/svg%3E%0A");
        border-image-repeat: repeat;
        border-image-slice: 4 4 4 4;
        }
    }
}