.circle-charts-container {
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 60px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__content {
    position: relative;
    
    .circle-chart-1 {
      transform: rotate(92deg);
    }
    
    .circle-chart-2 {
      transform: rotate(92deg);
      position: absolute;
      left: 18px;
      top: 18px;
    }
    
    .circle-chart-3 {
      transform: rotate(102deg);
      position: absolute;
      left: 34px;
      top: 34px;
    }
    
    .circle-chart-4 {
      transform: rotate(92deg);
      position: absolute;
      left: 48px;
      top: 48px;
    }
    
    .chart-data {
      position: absolute;
      top: 82px;
      left: 72px;
      &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &__label {
        font-family: Roboto;
        font-size: 10px;
        font-style: normal;
        font-weight: 100;
        letter-spacing: 0.5px;
        text-align: left;
        color: #707683;
      }
      &__value {
        font-family: Roboto;
        font-size: 28px;
        font-style: normal;
        font-weight: 100;
        letter-spacing: 0.5px;
        text-align: left;
        color: #707683;
        line-height: 32px;
      }
    }
  }
}
