.menu-item {
  // width: 170px;
}
.menu-item > span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 25px;
  /* identical to box height, or 292% */

  color: #666666;
}
.menu-icons {
  font-size: 20px;
  color: #666666;
  margin-right: 15px;
}
