.best-price-root {
    .bestPrice-root {
        background: #ffffff;
        border: 1px solid #e5e5e5;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 20px;
        .header {
            .title {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                color: #2054b3;
            }
            .sub-heading {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                color: #666666;
                margin-top: 16px;
                span {
                    &:last-child {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 14px;
                        color: #2054b3;
                        border-bottom: 1px dashed;
                        cursor: pointer;
                        margin: 0 0 0 5px;
                        // border-bottom: 1px dashed;
                        // border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='12' viewbox='0 0 16 12' class='border'%3E%3Cg fill='none' stroke='grey' stroke-width='4'%3E%3Cpath stroke-dasharray='2,4' d='M0 2 h6' /%3E%3Cpath stroke-dasharray='4,4' d='M6 2 h8' /%3E%3Cpath stroke-dasharray='2' d='M14 2 h2' /%3E%3C/g%3E%3Cg fill='none' stroke='%202054b3' stroke-width='4'%3E%3Cpath stroke-dasharray='2,4' d='M0 6 h6' /%3E%3Cpath stroke-dasharray='4,4' d='M6 6 h8' /%3E%3Cpath stroke-dasharray='2' d='M14 6 h2' /%3E%3C/g%3E%3Cg fill='none' stroke='%2359B35E' stroke-width='4'%3E%3Cpath stroke-dasharray='2,4' d='M0 10 h6' /%3E%3Cpath stroke-dasharray='4,4' d='M6 10 h8' /%3E%3Cpath stroke-dasharray='2' d='M14 10 h2' /%3E%3C/g%3E%3C/svg%3E");
                        // border-image: url("data:image/svg+xml,%3Csvg width='92' height='2' viewBox='0 0 92 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='-0.000976563' y1='0.75' x2='91.0032' y2='0.75' stroke='%232054B3' stroke-dasharray='1 1'/%3E%3C/svg%3E%0A");
                        // border-bottom: 1px solid transparent;
                        // border-image-repeat: repeat;
                        // border-image-slice: 4 4 4 4;
                        // margin-left: 2px;
                    }
                }
            }
        }
        .content {
            margin-top: 20px;
        }
    }

    .results {
        margin-top: 10px;
    }
}
