@import "../../assets/style.scss";
@import "../../assets/fonts.scss";
.tablet-details-map-popup-root {
  z-index: 999 !important;
  .MuiDialog-paperWidthFalse {
    width: 1000px;
    height: 599px;
    max-height: calc(100% - 0px);
    margin: 0 auto;
    background: linear-gradient(0deg, #ffffff, #ffffff), #f9f9f9;
  }
  .MuiDialogContent-root {
    position: relative;
    margin-top: 0px;
    flex: 1 1 auto;
    overflow-y: unset !important;
    padding: 0;
    display: contents;
  }
  .MuiDialog-paper {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .frx-dialog-root__heading .MuiTypography-root {
    font-weight: 700;
    font-size: 12px;
    line-height: 60px;
    letter-spacing: 0.5px;
  }
  .TabletDetailsHeading {
    width: 1000px;
    height: 53px !important;
    border-bottom: 1px solid #e5e5e5;

    .MuiButtonBase-root .MuiButton-root {
      border: 1px solid red !important;
    }
  }
  .TabletDetailsHeading > h3 {
    position: absolute;
    width: 221px;
    height: 14px;
    left: 22px;
    top: 19px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5px;
    color: #323c47;
  }
  .Head-Btn {
    // border: 1px solid $primary-btn-color;
    border: 1px solid rgba($primary-btn-color, 0.3);
    box-sizing: border-box;
    border-radius: 3px;
    background-color: $color-white;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    left: 909px;
    top: 8px;
    width: 81px;
    height: 35px;
    line-height: 16.41px;
    text-align: center;
    align-items: center;
    letter-spacing: 0.01em;
    color: $primary-btn-color;
    padding: 8px;
    text-transform: capitalize;
    margin: 0 20px 0 auto;
  }
  .TabletBodyDetails {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: 100%;
    overflow: overlay;
    .TabletBodyDetails__leftside {
      min-width: 308px;
      min-height: 599px;
      background: #f9f9f9;
      overflow: overlay;
      border-right: 1px solid #e5e5e5;
      border-radius: 0px 0px 0px 5px;
      padding: 20px;
      .TabletBodyDetails__leftside_bgimg {
        min-width: 268px;
        height: 144px;
        left: 20px;
        top: 20px;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
      }

      .TabletBodyDetails__leftside_bgimg + span {
        width: 263px;
        height: 14px;
        display: block;
        font-family: Roboto;
        font-style: italic;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.5px;

        margin-top: 10px;
        margin-bottom: 10px;
        color: #323c47;
        .astreak {
          color: #f65a1c;
        }
      }
      .TabletBodyDetails__leftside_typography {
        min-width: 268px;
        min-height: 84px;
        p {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          color: #323c47;
          margin-bottom: 15px;
        }
      }
    }
    .TabletBodyDetails__rightside {
      min-width: 217px;
      min-height: 483px;
      max-height: 483px;
      overflow-y: overlay;
      overflow-x: hidden;
      display: block;
      &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }
      /* Track */
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 0px #c4c4c4;
      }
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #c4c4c4;
        border-radius: 5px;
      }
      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #c4c4c4;
      }
      .TabletBodyDetails__rightside_box {
        display: block;
        padding: 20px 20px 13px 20px;
        &:last-of-type ~ hr {
          display: none !important;
        }
        .container {
          text-align: left;
          position: relative;
          margin-bottom: 12px;
          cursor: pointer;
          display: flex;
          color: #323c47;

          /* font-size: 22px; */
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        .TabletBodyDetails__data_container {
          margin-top: 22px !important;
        }
        .svgIcon {
          margin-left: 8px;
        }
        .brandName {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 14px;
          text-align: right;
          color: #000000;
        }
        .brandValue {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 21px;
          text-align: right;
          color: #323c47;
        }
        .brandValueText {
          font-size: 14px;
          font-weight: 600;
        }
        .checkRadio {
          position: absolute;
          top: 10px;
          left: 0;
          height: 16px;
          width: 16px;
          background-color: #ffffff;
          // border-radius: 50%;
          // border: 2px solid #dddddd;
          box-sizing: border-box;
        }
        .savingBox {
          position: absolute;
          top: 35px;
          width: 80px;
          height: 18px;
          padding: 3px 0px 0px 6px;
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 10px;
          line-height: 12px;
          background: #f65a1c;
          border-radius: 5px;
          color: #ffffff;
        }
        .price {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          line-height: 21px;
          text-align: left;
          color: #323c47;
        }
        .companyName {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 14px;
          color: #323c47;
          margin-top: 14px;
        }
        .address {
          width: 122.28px;
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          color: #666666;
          margin-top: 10px;
        }
        .address_inner {
          width: 122.28px;
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          color: #666666;
          margin: 0;
        }
        .phoneNumber {
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          color: #666666;
          margin-top: 10px;
        }
        .operatingHours {
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 14px;
          color: #323c47;
          margin-top: 10px;
          svg {
            cursor: pointer;
          }
        }
        .anticon > * {
          height: 10px;
          margin-left: 8px;
          color: black;
        }
      }
      .hr {
        position: absolute;
        background-color: #e5e5e5;
        width: 100%;
        height: 1px;
        //   top:165px;
      }
      .hours-container {
        position: relative;
        left: 14%;
        top: -7%;
        margin-top: 10px;
      }

      .hoursBox {
        display: flex;
      }
      .monthsTitle {
        min-width: 20px;
        font-size: 9px;
        line-height: 24px;
        font-weight: 700;
        color: #666666;
        text-align: right;
        margin-right: 20.55px;
      }
      .timeTitle {
        font-size: 12px;
        line-height: 24px;
        font-weight: 700;
        color: #666666;
      }
    }
    .TabletBodyDetails__mapbox-container {
      min-width: 473px;
      height: 484px;
      // border: 1px solid red;
      .closedIcon {
        position: absolute;
        background: #ffffff;
        border: 1px solid #e5e5e5;
        z-index: 111111;
        width: 20px;
        height: 20px;
        padding: 0px 4px 0px 4px;
        border-radius: 3px;
        box-sizing: border-box;
        right: 5px;
        top: 57px;
        cursor: pointer;
      }
    }
  }
}
