.label-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #707683; 
}

.asterik {
  color: red !important;
  margin-left: 4px;
}