.memberSpecialty {
    width: 608px;
    height: 135px !important;
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: #666666;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
  }
  .specialty-box2{
    margin-top: 20px ;
  }
  