@import "../../../../../../../assets/style.scss";

.bordered {
  background: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  overflow: hidden;
  .inner-container {
    padding: 12px 10px 10px;
    &.bg-light-grey {
      background: #f9f9f9;
    }
    &.display-flex {
      display: flex;
      justify-content: space-between;
    }
    .bottom {
      .row span {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #707683;
        &.text-left {
          justify-content: flex-start;
        }
      }
    }
    .group-des {
      background: #ffffff;
      width: 361px;
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      border-radius: 5px;
      .panel {
        display: flex;
        justify-content: space-between;
      }
      .Button {
        background: none;
        color: #c2cfe0;
        border: 1px solid #c2cfe0;
        width: auto;
        padding: 0 20px;
      }
      .search-input {
        input {
          background: #ffffff;
          border: 1px solid #dddddd;
          box-sizing: border-box;
          border-radius: 20px;
          height: 30px;
          width: 341px;
          padding-left: 10px;
        }
      }
      //   .inner-container {
      //     .mini-tabs {
      //       margin-top: 15px;
      //     }
      //   }
      .group-wrapper {
        margin-top: 15px;
        .list {
          padding: 0px 20px 0px 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          // padding: 6px;
          width: 339px;
          height: 40px;
          margin-bottom: 5px;
          &.orange {
            background: #fff5f0;
            border: 1px solid #f65a1c;
            box-sizing: border-box;
            border-radius: 5px;
            .panel {
              display: flex;
              justify-content: space-between;
            }
            .Button {
              background: none;
              color: #c2cfe0;
              border: 1px solid #c2cfe0;
              width: auto;
              padding: 0 20px;
            }
            .search-input {
              input {
                background: #ffffff;
                border: 1px solid #dddddd;
                box-sizing: border-box;
                border-radius: 20px;
                height: 30px;
                width: 341px;
                padding-left: 10px;
              }
            }
            .inner-container {
              .mini-tabs {
                margin-top: 15px;
              }
            }
            .group-wrapper {
              margin-top: 15px;
              .list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 6px;
                width: 339px;
                height: 40px;
                margin-bottom: 5px;
                &.orange {
                  background: #fff5f0;
                  border: 1px solid #f65a1c;
                  box-sizing: border-box;
                  border-radius: 3px;
                  color: #f65a1c;
                }
                &.orange-fill {
                  background: #f65a1c;
                  border: 1px solid #f65a1c;
                  box-sizing: border-box;
                  border-radius: 3px;
                  color: #ffffff;
                }
                &.green {
                  background: #d5ffd7;
                  border: 1px solid #80c483;
                  box-sizing: border-box;
                  border-radius: 3px;
                  color: #219653;
                }
                &.green-fill {
                  background: #219653;
                  border: 1px solid #219653;
                  box-sizing: border-box;
                  border-radius: 3px;
                  color: #ffffff;
                }
                .group {
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 12px;
                  line-height: 14px;
                  display: flex;
                  align-items: center;
                  letter-spacing: 0.01em;
                  .group-title {
                    margin-left: 10px;
                  }
                }
              }
            }
            /* SCROLL-BAR */
            .new-scroll-bar {
              overflow-y: scroll;
              max-height: 400px;
              overflow-x: hidden;
              border: 1px solid #e5e5e5;
              box-sizing: border-box;
              border-radius: 5px;
            }

            .new-scroll-bar::-webkit-scrollbar {
              width: 6px;
              height: 6px;
            }
            /* Track */
            .new-scroll-bar::-webkit-scrollbar-track {
              box-shadow: inset 0 0 0px #999999;
              border-radius: 3px;
            }
            /* Handle */
            .new-scroll-bar::-webkit-scrollbar-thumb {
              background: #999999;
              border-radius: 3px;
            }
            /* Handle on hover */
            .new-scroll-bar::-webkit-scrollbar-thumb:hover {
              background: #999999;
            }
            /* SCROLL-BAR */

            .scrollbar {
              overflow-y: scroll;
              max-height: 400px;
              overflow-x: hidden;
              border: 1px solid #e5e5e5;
              box-sizing: border-box;
              border-radius: 5px;
            }

            .scrollbar::-webkit-scrollbar {
              width: 6px;
              height: 6px;
            }

            .scrollbar::-webkit-scrollbar-track {
              box-shadow: inset 0 0 0px #999999;
              border-radius: 3px;
            }

            .scrollbar::-webkit-scrollbar-thumb {
              background: #999999;
              border-radius: 3px;
            }

            // /* custom colors  */
            // .scrollbar-primary::-webkit-scrollbar {
            //   background: #999999;
            // }
            // .scrollbar-primary {
            //   scrollbar-color: #c4c4c4 #c4c4c4;
            // }
            // .scrollbar-primary::-webkit-scrollbar-thumb {
            //   border-radius: 10px;
            //   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
            //   background-color: #f5f5f5;
            // }
          }
          .new-group-des {
            width: 889px;
            background: #ffffff;
            border: 1px solid #e5e5e5;
            box-sizing: border-box;
            border-radius: 3px;
            color: #ffffff;
          }
          &.green {
            background: #d5ffd7;
            border: 1px solid #80c483;
            box-sizing: border-box;
            border-radius: 3px;
            color: #219653;
          }
          &.green-fill {
            background: #219653;
            border: 1px solid #219653;
            box-sizing: border-box;
            border-radius: 3px;
            color: #ffffff;
          }
          .group {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;
            letter-spacing: 0.01em;
            .group-title {
              margin-left: 10px;
            }
          }
        }
      }

      .scrollbar {
        overflow-y: scroll;
        max-height: 340px;
        overflow-x: hidden;
        border: 1px solid #e5e5e5;
        box-sizing: border-box;
        border-radius: 5px;
      }

      .scrollbar::-webkit-scrollbar {
        width: 6px;
        height: 6px;
      }

      .scrollbar::-webkit-scrollbar-thumb {
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background: rgba(0, 0, 0, 0.2);
      }

      /* custom colors  */
      .scrollbar-primary::-webkit-scrollbar {
        background-color: #f5f5f5;
      }
      .scrollbar-primary {
        scrollbar-color: #c4c4c4 #c4c4c4;
      }
      .scrollbar-primary::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #f5f5f5;
      }
    }
    .new-group-des {
      width: 889px;
      background: #ffffff;
      border: 1px solid #e5e5e5;
      box-sizing: border-box;
      border-radius: 5px;
      margin-left: 10px;
      .inner-container {
        .setting-1 {
          span {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 20px;
            text-transform: capitalize !important;
            color: #707683;
          }
          .MuiGrid-container {
            label {
              display: block;
              font-size: 12px;
              color: #707683;
              line-height: 20px;
              margin-bottom: 5px;
              text-transform: uppercase;
              font-weight: normal;
            }
            input {
              background: #ffffff;
              border: 1px solid #c4c4c4;
              box-sizing: border-box;
              border-radius: 3px;
              width: 695px;
            }
          }
          .marketing-material-chk {
            label:first-child {
              display: block;
            }
          }
          .marketing-material-chks {
            margin-left: -10px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;
            text-transform: uppercase;
            color: #707683;
            margin-bottom: 10px;
            &.checkbox-group {
              display: flex;
              div.checkbox:nth-child(2) {
                margin-left: 150px;
              }
            }
          }
          .panel-tooltip {
            margin-left: 10px;
            line-height: 0;
            display: inline;
          }
        }
        .gdp-radio {
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          .PrivateRadioButtonIcon-root-25 {
            .PrivateRadioButtonIcon-layer-26 {
              color: #2055b5;
            }
          }
        }
        .button-wrapper {
          display: flex;
          justify-content: flex-end;
          .Button {
            width: auto;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.01em;
            color: #ffffff;
          }
        }
      }
      .invalid {
        border: 1px solid red !important;
      }
    }
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .Button {
    background: #1f55b6;
    color: white;
    margin: 20px 10px 10px 0;
    &:disabled {
      background: #e5e5e5;
      border-color: #e5e5e5;
      color: #707683;
    }
  }
  .bordered {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    overflow: hidden;
  }
  .white-bg {
    background: white;
  }
  .category-class-header {
    justify-content: flex-end;
  }
  .header {
    display: flex;
    // justify-content: flex-end;
    height: 52px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 12px;
    color: #1d54b4;
    font-weight: $font-weight-500;
    padding: 0 10px;
    align-items: center;
    text-transform: uppercase;
    &.panel {
      background: white;
      .panel-tooltip {
        margin-left: 10px;
        line-height: 0;
      }
    }
    &.space-between {
      justify-content: space-between;
    }
    .pr-10 {
      padding-right: 10px;
    }
    .advance-search-btn {
      margin-left: 13px;
    }
    .header-dropdown {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-left: 13px;
    }
    .Button {
      margin: 0 0 0 10px;
      cursor: pointer;
      &.normal {
        border: 1px solid #c2cfe0;
        background: none;
        color: #5f80b9;
        padding: 0 20px;
        width: auto;
        &:focus {
          border-color: #c2cfe0;
          color: #5f80b9;
          background: white;
          outline: none;
        }
        &:hover {
          border-color: #1d54b4;
          background: #1d54b4;
          color: white;
        }
      }
    }
  }
  .configure-mini-tabs {
    margin-bottom: 12px;
  }
  .details-top {
    margin-bottom: 10px;
  }
  .modify-wrapper {
    .modify-panel {
      padding: 0 20px;
      display: flex;
      .icon {
        display: flex;
        height: 50px;
        padding-right: 18px;
        border-right: 1px solid #e5e5e5;
        align-items: center;
        span {
          display: block;
          border-radius: 50%;
          height: 31px;
          width: 31px;
          background: #1fbbc4;
          color: white;
          font-size: 16px;
          line-height: 31px;
          text-align: center;
        }
      }
      .switch-box {
        display: flex;
        align-items: center;
        padding: 0 40px;
        border-right: 1px solid #e5e5e5;
        .label {
          font-size: 14px;
          text-transform: uppercase;
          color: #707683;
        }
      }
      .mini-tabs {
        display: flex;
        padding: 0 40px;
        border-right: 1px solid #e5e5e5;
        align-items: center;
      }
    }
    .header-with-notes {
      position: relative;
      svg.note-icon {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .settings-form {
      border-top: 1px solid #e5e5e5;
      padding: 20px;
      .radio-group {
        display: flex;
        &.marketing-material {
          padding: 15px 0 20px;
        }
        label {
          display: flex;
          align-items: center;
          padding-right: 0;
          margin-right: 60px;
          span.label {
            top: 1px;
            color: #c4c4c4;
          }
          input:checked ~ span.label {
            color: #323c47;
          }
        }
      }
      .select-box {
        .ant-select {
          width: 100%;
          max-width: 370px;
        }
      }
      label {
        display: block;
        font-size: 12px;
        color: #707683;
        line-height: 20px;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-weight: normal;
        .astrict {
          color: red;
        }
      }
      input {
        width: 385px !important;
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        background: white;
        height: 35px !important;
        margin-bottom: 10px;
        top: auto;
      }
    }
  }
}

.select-drug-from-table-header {
  display: flex;
  justify-content: space-between;

  p {
    font-size: 12px;
    color: #1d54b4;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.pa-group-description-wrapper {
  display: flex;
  justify-content: flex-start;

  .new-group-des {
    width: fit-content !important;
  }
}
