.inner-container.pa-new-group-form {
  .frx-grid-container
    .frx-grid
    .frx-grid__grid-block
    .frx-grid__grid-block__table-block
    .ant-table {
    .ant-checkbox-checked .ant-checkbox-inner {
      border: 2px solid #1d54b4;
      box-sizing: border-box;
      border-radius: 4px;
      background-color: #1d54b4;
    }
  }
}
