.new-group-des.__root-pa-gd-popup.pa--form {
  .setting-1 {
    margin-top: 25px !important;
    span.question {
      font-weight: 400;
      line-height: 20px;
      font-size: 12px;
      text-transform: uppercase;
      display: block;
      margin-bottom: -10px !important;
    }
  }

  // .drug-details-bottom
  //   .inner-container
  //   .new-group-des
  //   .inner-container
  //   .setting-1
  //   .MuiGrid-container
  //   input {
  //   width: 100% !important;
  //   height: 35px;
  // }

  input.pa_group_description_name {
    width: 100% !important;
    height: 35px;
  }

  .pa-form-information-panel {
    width: 100% !important;
    margin-left: 20px;
  }

  .frx-mini-tabs-root__tabs {
    margin-top: 12px;
  }
}

// #323C47
// #C4C4C4
