.d-flex{
  display: flex;
  .fxrtabs-container {
    margin-top: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 10px 0px 0px 0px;
    border-right: 0;
    width: 50%;
    header{
      border-top-right-radius: 0px !important;
    }
  
  }
  .frxtabs-body {
    background-color: #fdf2f2;
    padding: 15px;
  }

  .icons{
    width: 50%;
    float: right;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-left: none;
    border-bottom: 5px #f5f4f4 solid;
    margin-top: 20px;
    padding: 5px;
    padding-bottom: 0;
    .icn{
      margin-top:20px;
      margin-left: 10px;
      margin-right: 10px;
      float: right;
      cursor: pointer;
    }
  }
}