.frx-grid-checkbox-group-root {
  .header-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .body-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
