.PAInfo-contianer {
  width: 100%;
  padding: 10px 20px 30px 20px;

  background: #ffffff;
  .MuiTypography-root {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    // font-size: 14px;
    line-height: 19px;

    /* Text – Medium Grey */

    // color: #707683;
  }
  .MuiTypography-h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #707683;
  }
  .MuiTypography-subtitle2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    // color: #19253f23;
    color: #707683;
    margin-top: 5px;
    margin-bottom: 3px;
  }
  .MuiTypography-body1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #323c47 !important;
  }
}
.frx-PA-Info-Dialogpopup {
  .MuiDialog-paperScrollPaper {
    max-height: calc(100vh - 0px);
    overflow: hidden;
    width: 45%;
    margin: 0 auto;
  }

  .frx-dialog-root__heading {
    border-bottom: none;
    height: 40px;
  }
}
