.dual-input-label {
    padding-bottom: 5px;
}
.input-area {
    padding: 22px 20px;
    .label-row {
        padding-bottom: 10px;
    }
    .input-row {
        padding-bottom: 20px;
    }
    .input-row-last {
        padding-bottom: 0px;
        padding: 0px 20px;
    }
    .ant-col-12 {
        padding: 0 5px;
    }
}