.EntityTable {
  //   .ant-table-container table > thead > tr:first-child th:first-child {
  //     min-width: 50px;
  //     /* display: none; */

  //   }

  .antd-table {
    .ant-spin-nested-loading {
      .ant-spin-container {
        .ant-table {
          .ant-table-container {
            .ant-table-content {
              table {
                .ant-table-tbody {
                  .ant-table-row.ant-table-row-selected {
                  }
                  tr.ant-table-row-selected > td {
                    // background-color: red;
                    background: #ffffff;
                  }
                  .ant-table-row {
                    .ant-table-cell {
                      .ant-checkbox-wrapper {
                        border-radius: 4px;
                        .ant-checkbox {
                          .ant-checkbox-inner {
                            border-radius: 4px;
                          }
                        }
                        .ant-checkbox.ant-checkbox-checked {
                          .ant-checkbox-inner {
                            // background-color: #1890ff;
                            background-color: #1d54b4;
                            border-color: #1d54b4;
                            border-radius: 4px;
                          }
                        }
                      }
                    }
                    .ant-table-selection-column {
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  //   .collumn-class {
  //     background-color: red;
  //   }
  //   .ant-table.ant-table-bordered
  //     > .ant-table-container
  //     > .ant-table-content
  //     > table
  //     > thead
  //     > tr
  //     > th,
  //   .ant-table.ant-table-bordered
  //     > .ant-table-container
  //     > .ant-table-header
  //     > table
  //     > thead
  //     > tr
  //     > th,
  //   .ant-table.ant-table-bordered
  //     > .ant-table-container
  //     > .ant-table-body
  //     > table
  //     > thead
  //     > tr
  //     > th,
  //   .ant-table.ant-table-bordered
  //     > .ant-table-container
  //     > .ant-table-content
  //     > table
  //     > tbody
  //     > tr
  //     > td,
  //   .ant-table.ant-table-bordered
  //     > .ant-table-container
  //     > .ant-table-header
  //     > table
  //     > tbody
  //     > tr
  //     > td,
  //   .ant-table.ant-table-bordered
  //     > .ant-table-container
  //     > .ant-table-body
  //     > table
  //     > tbody
  //     > tr
  //     > td,
  //   .ant-table.ant-table-bordered
  //     > .ant-table-container
  //     > .ant-table-content
  //     > table
  //     > tfoot
  //     > tr
  //     > th,
  //   .ant-table.ant-table-bordered
  //     > .ant-table-container
  //     > .ant-table-header
  //     > table
  //     > tfoot
  //     > tr
  //     > th,
  //   .ant-table.ant-table-bordered
  //     > .ant-table-container
  //     > .ant-table-body
  //     > table
  //     > tfoot
  //     > tr
  //     > th,
  //   .ant-table.ant-table-bordered
  //     > .ant-table-container
  //     > .ant-table-content
  //     > table
  //     > tfoot
  //     > tr
  //     > td,
  //   .ant-table.ant-table-bordered
  //     > .ant-table-container
  //     > .ant-table-header
  //     > table
  //     > tfoot
  //     > tr
  //     > td,
  //   .ant-table.ant-table-bordered
  //     > .ant-table-container
  //     > .ant-table-body
  //     > table
  //     > tfoot
  //     > tr
  //     > td {
  //     border-right: none !important;
  //   }
  // }
  // thead[class*="ant-table-thead"] th {
  //   background-color: yellow !important;
  // }
  // .checkbox-checked {
  //   background-color: blue;
  //   color: wheat;
}
