.criteria-condition-panel-container {
  display: flex;
  .criteria-condition-panel {
    max-width: 442px;
    width: 100%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 20px;

    &__header {
      border-bottom: 1px solid #C4C4C4;
      height: 44px;
      display: flex;
      align-items: center;
      padding: 0px 20px;

      &--title {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.5px;
        color: #323C47;
      }
    }

    &__body {
      padding: 16px 20px;
    }
  }
  
  .remove-icon {
    margin-top: 16px;
    cursor: pointer;
    margin-left: 13px;
  }
}