.user-groups{

.table-container {
    padding: 35px 20px;
    background-color: #FFFFFF;
}
.usr-grp-so{
    thead tr th:first-child,
    tbody tr td:first-child {
        text-align: left !important;
        padding-left: 30px !important;
    }
}
.ant-table-thead {
    .ant-table-cell {
        text-align: center;
        font-size: 12px;
        text-transform: uppercase;
        color: #707683;
    }
}

.ant-table-cell {
    text-align: center;
    font-size: 12px;
    color: #323C47;
}

.check-icon {
    width: 19px;
    height: 19px;
}
}