/* Common Main Colors */
$background-color: #eef3f7;
$container-background-color: #f9f9f9;
//$container-background-color: rgb(215, 237, 245);
$container-border-color: #e5e5e5;
$white-color: #ffffff;
$color-white: #ffffff;
$black-color: #000000;
$color-black: #000000;
$hyperlink-text-color: #2055b5;
$primary-text-color: #666666;
$secondary-text-color: #333333;
/* Common Main Colors */

/* Heading - Colors */
$primary-heading-text-color: #2055b5;
/* Heading - Colors */

/* Main-Tab */
$main-tab-text-active-color: #2055b5;
$main-tab-text-inactive-color: #666666;
/* Main-Tab */

/* Folder - Tab */
$folder-tab-inactive-background: #f9f9f9;
$folder-tab-active-background: #ffffff;
/* Folder - Tab */

/* mini - Tab */
$button-tab-active-background-color: #2055b5;
$mini-tab-border-color: #6e90cf;
/* mini - Tab */

/* Tags - Colors */
$pill-active-color: #008a07;
$pill-incomplete-color: #1077b0;
$pill-inactive-color: #666666;
/* Tags - Colors */

/* Section Attribute Colors */
$pills-two-active: #2055b5;
$pills-two-inactive: #999999;
/* Section Attribute Colors */

/* Search - Bar */
$search-input-field-border: #dddddd;
$search-input-button: #2055b5;
$search-text-input-color: #999999;
/* Search - Bar */

/* Stepper - Colors */
$legend-in-progress: #8faada;
$legend-limit-met: #80c483;
$legend-limit-not-met: #694298;
/* Stepper - Colors */

/* Pie - Chart Colors */
$paid-item: #59b35e;
$rejected-item: #f65a1c;
$total-item: #2055b5;
/* Pie - Chart Colors */

/* Form - fields */
$input-field-border: #dddddd;
$input-text-placeholder: #999999;
$primary-btn-color: #2055b5;
/* Form - fields */

/* Grid - table */
$pagination-bg-color: #f9f9f9;
$switch-border-color: #cccccc;
$switch-active-color: #2055b5;
$multisort-text-color: #999999;
/* Grid - table */

/* Member - Costshare */
$membercostshare-header-color: #f5f5f5;
/* Member - Costshare */

/* Status colors */
$dev-status-done-color: rgb(0, 255, 0);
$dev-status-wip-color: orange;
$dev-status-pending-color: red;

/* Dialog colours*/
$dialog-heading: #2055b5;

/* Member notes*/
$member-notes-border-color: #e5e5e5;
$category-active-list-bg-color: #ecf5fa;
$category-active-text-color: #707683;
$category-dropdown-text-color: #999999;

/* List font colors*/
$list-text-color: #323c47;
$list-chip-text-color: #999999;
$list-primary-heading-color: #323c47;
$list-date-color: #707683;

/* Search form colors*/
$label-text-color: #323c47;
$search-field-color: #999999;

/* Formulary */
/* Formulary search */
$button-border-color: #c2cfe0;
$button-text-color: #5f80b9;
$formulary-info-bg: #f9f9f9;
$search-input-color: #aaaaaa;
$detailed-table-heading-text-color: #707683;
/* Formulary search */
/* Formulary */

/* Audit grid colors */
$grid-row-bg-color: #eef3f7;
$grid-text-color: #323c47;
/* Audit grid colors */

/* Prescriber */
$prescriber-address-text-color: #707683;
/* Prescriber */

/* DECISION TREE */
$color_blue: #1f55b6;
$color_blue_two: #2155b5;
$color_light_blue: #0a7be1;
$color_blue_three: #2055b5;
$color_blue_043999: #043999;
$color_black: #000;
$color_white: #fff;
$color_light_skyblue: #edf3f6;
$color_EFF6FA: #eff6fa;
$color_light_gray: #e5e5e5;
$color_dark_gray: #666666;
$color_green: #018b08;
$color_light_green: #d5ffd7;
$color_gray_one: #999999;
$color_light_gray_two: #aaaaaa;
$color_backdrop: #1d54b4;
$color_light_gray_two: #dddddd;
$color_light_gray_three: #999999;
$color_light_gray_four: #cccccc;
$color_dark_gray_333333: #333333;
$color_dark_gray_e1e1e1: #e1e1e1;
$color_54C51F: #54c51f;
$color_1077B0: #1077b0;
$color_1FBBC5: #1fbbc5;
$color_F1C658: #f1c658;
$color_text: #323c47;

$container-border-color: #e5e5e5;
$primary-text-color: #666666;
/* mini - Tab */
$button-tab-active-background-color: #2055b5;
$mini-tab-border-color: #6e90cf;
/* mini - Tab */
