.formulary-tree-container {
  overflow: hidden;
  border: 1px solid #e5e5e5;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  border-radius: 5px;

  .identificationTable {
    border-right: 1px solid #e5e5e5;
    padding: 20px;
  }

  .formulary-tree {
    padding: 20px;
  }
}

.tree-value-container {
  width: 335px !important;
}
