.contact-info {
  /* width: 375px; */
  /* height: 519px; */
  /* background: #f9f9f9;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 4px; */
}
.contact-heading {
  text-align: left;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #666666;
  margin: 0 0 20px 0;
  /* margin-left: 25px;
  margin-top: 15px; */
}
.contact-fields {
  /* padding: 15px; */
}

.contact-lables > label {
  display: block;
  text-align: left;
  line-height: 2.8;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #323c47;
}
.contact-formfields {
  text-align: right;
  width: 50%;
}

.contact-fields > .fields{
  margin-bottom: 10px;
}

/* new approch */
.fields > label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #323c47;
}
.contact-fields > .fields > label {
  line-height: 35px;
  font-weight: normal;
}

.contact-fields > .fields {
  display: flex;
  justify-content: space-between;
}
