.rolesDiv, .userGroupDiv, .permissionDivUserGroup{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  margin-top: 10px;
  line-height: 16px;
  color: #666666;
  display: flex;
  flex-direction: row;
  svg{
    margin-left: 7px;
    margin-top: 5px;
  }
  .role_tabs, .user_group_tabs{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    margin-left: 10px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    align-items: center;
    padding: 0px 10px;
    height: 18px;
    background: #80C483;
    border-radius: 12px;
  }
  .user_group_tabs{
    background: #1077B0 !important;
  }
}
.user-groups{
.tree-value-container{
  color: black
}
  .UserGrouplist-grid-container{
    padding: 5px !important;
  }
.role-container, .user-container{
  margin-left: 10px;
  margin-right: 10px;
}
.availability-container{
  margin-left: 10px;
  margin-right: 10px;
  .grid-container-header-wrapper{
    border: 0px !important;
  }
  .search-field-container{
    width: 60% !important;
     margin-left: 0% !important; 
  }
  .select-box .ant-select{
    width: 160px !important;
    margin-right: 10px !important;
  }
  .field-container, .select-box{
   margin-left: 1% !important; 
  }
  background: #FFFFFF;
/* Secondary Gray */

border: 1px solid #E5E5E5;
box-sizing: border-box;
border-radius: 5px 5px 0px 0px;
  

      .availibilty-tree-container {
        
        overflow: hidden;
        
        border: 1px solid #e5e5e5;
        
        display: grid;
        margin-top: 0px;
        grid-template-columns: 1fr 5fr;
        
        border-radius: 5px;

        
        
        .identificationTable {
          
          border-right: 1px solid #e5e5e5;
          
          padding: 20px;

          
          
          .identificationTable-header{
            
            background: #ECF5FA;
              
            span{
                
                font-style: normal;
                
                font-weight: normal;
                
                font-size: 12px;
                
                line-height: 24px;
                
                /* identical to box height, or 200% */
                
                color: #707683, 100%;
                
                text-transform: uppercase;
              
              }
          
            }
        
        }

        
        
        .availibilty-tree {
          
          padding: 20px;
        
        }

      }
    }
}